.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "feat feat feat feat feat feat feat feat"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid yellow;

  }
  .box{
    width: 100%;
    border: 1px solid red;
    background: RGB(102, 102, 102);
    }

  .header{
      grid-area:hd;
  }

  .footer{
    grid-area: ft;  
  }
  .feature{
    grid-area: feat;
  }
  .content{
    grid-area: main;
  }