.blog-container{
      display:grid;
      grid-template-columns:repeat( auto-fit, minmax(auto, 1fr) );
      grid-template-rows: 1fr 1fr 80% 1fr;
      height: 100vh;
      width: 100vw;
      
      grid-template-areas: 
      "hd"
      "feat"
      "main"
      "ft";
      border: 2px solid rgb(78, 73, 73);

  }
    /* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .blog-container {
      display: grid;
      grid-template-rows: 1fr 80% 1fr;
      grid-template-areas: 
      "hd hd hd hd hd hd hd"
      "feat main main main main main main"
      "ft ft ft ft ft ft ft";
      /* border: 2px solid magenta; */
    }
  }
  /* Large Screens */
@media (min-width:901px) {
    .blog-container {
        display: grid;
        grid-template-rows: 1fr 80% 1fr;
        grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "feat main main main main main main"
        "ft ft ft ft ft ft ft";
        /* border: 2px solid blue; */
    }
  }

  .blog-box{
    display: flex;
    overflow: auto;
    width: 100%;
    /* border: 1px solid red; */
    color: greenyellow;
    }

  .blog-header{
      grid-area:hd;
  }

  .blog-footer{
    grid-area: ft;  
  }
  
  .blog-content{
    grid-area: main;
    background-image: url(../img/mist.jpeg);
    opacity: .95;

  }

  .feature{
    grid-area: feat;
    /* display: flex; */
    flex-basis: 10rem;
    background: rgb(78, 73, 73);
    color: limegreen;
    
  }
  article{
      display: flexbox;
      height: 80%;
      
      
  }
  .blog-img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  blockquote {
    
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font: italic small-caps bold 12px/30px Georgia, serif;
    font-weight: bold;
  }