.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      grid-auto-columns: fit-content 20%;
      grid-template-rows: minmax(auto, fr);
      grid-template-areas: 
      "hd"
      "sd"
      "main"
      "ft";
      border: 2px solid yellow;

  }
  /* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .container {
      display: grid;
      grid-template-areas: 
      "hd hd hd hd hd hd hd"
      "sd main main main main main main"
      "ft ft ft ft ft ft ft";
      border: 2px solid magenta;
    }
  }
  /* Large Screens */
@media (min-width:901px) {
    .container {
        display: grid;
        grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "sd sd main main main main main"
        "ft ft ft ft ft ft ft";
        border: 2px solid blue;
    }
  }
  .box{
  /* width: 250px;
    height: 150px; */
    border: 1px solid limegreen;
    background: RGB(102, 102, 102);
    color: white;
    }

  .header{
    
    grid-area:hd;
  }

  .footer{
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content{
    grid-area: main;
  }

  a {
    color: lime;
  }